/* stylelint-disable scss/dollar-variable-empty-line-before */

$color-black: #000;
$color-white: #fff;
$color-border: #635e55;
$color-bg: #e2e2e1;
$color-logo: #5c5c5c;
$color-text-main: #2b2924;
$color-text-secondary: #a4a3a3;


$font-size-base: 16px;


$navbar-height: 70px;
