.page {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  &__header {
    position: fixed;
    z-index: $z-index-header;
    top: 0;
    left: 0;
    right: 0;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    margin-top: rem-calc(68px);
    padding-bottom: rem-calc(28px);

    @media #{$screen-tablet} {
        margin-top: rem-calc(79px);
        padding-bottom: rem-calc(32px);
    }

    @media #{$screen-desktop} {
        padding-bottom: rem-calc(24px);
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}
